In [1]:
import pandas as pd

### Creando Dataframe

In [2]:
# Dataframe de int
pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})

   Yes   No
0   50  131
1   21    2

In [4]:
# Dataframe de str
pd.DataFrame({'Bob' : ['I liked it', 'It was awful'],
              'Sue' : ['Pretty good.', 'Bland.']})

            Bob           Sue
0    I liked it  Pretty good.
1  It was awful        Bland.

In [5]:
# Asignando titulo a las filas
pd.DataFrame({'Bob' : ['I liked it', 'It was awful'],
              'Sue' : ['Pretty good.', 'Bland.']}, index= ['Product A', 'Product B'])

                    Bob           Sue
Product A    I liked it  Pretty good.
Product B  It was awful        Bland.

### Creando Series

In [7]:
# Creando una serie simple
pd.Series([1,2,3,4,5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [8]:
# Creando una serie con nombre
pd.Series([30,35,40], index = ['2015 Sales', '2016 Sales', '2017 Sales'], name = 'Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

### Leer datos

In [ ]:
# Comprobar tama√±o del df
# df = read_csv('route')

In [1]:
# Guardar datos
# df.to_csv('name.csv')

### Exercise

In [2]:
import pandas as pd

In [4]:
# 1. Crear un dataframe de fruits
pd.DataFrame({'Apples' : [30],
              'Bananas' : [21]})

   Apples  Bananas
0      30       21

In [5]:
# 2. Crear un dataframe de fruit_sales con titulos
pd.DataFrame({'Apples' : [35, 41],
              'Bananas' : [21, 34]}, index= ['2017 Sales', '2018 Sales'])

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

In [6]:
# 3. Crear una serie de ingredientes
pd.Series(['4 cups', '1 cup', '2 large', '1 can'], index = ['Flour', 'Milk', 'Eggs', 'Spam'], name = 'Dinner')

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [8]:
# 4. Leer un dataset de csv
pd.read_csv('./data/winemag-data_first150k.csv', index_col= 0)

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selecci√≥n Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodr√≠guez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,France,"This is the top wine from La B√©gude, named aft...",La Br√ªlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la B√©gude
...,...,...,...,...,...,...,...,...,...,...
150925,Italy,Many people feel Fiano represents southern Ita...,NaN,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Feudi di San Gregorio
150926,France,"Offers an intriguing nose with ginger, lime an...",Cuv√©e Prestige,91,27.0,Champagne,Champagne,NaN,Champagne Blend,H.Germain
150927,Italy,This classic example comes from a cru vineyard...,Terre di Dora,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Terredora
150928,France,"A perfect salmon shade, with scents of peaches...",Grand Brut Ros√©,90,52.0,Champagne,Champagne,NaN,Champagne Blend,Gosset
150929,Italy,More Pinot Grigios should taste like this. A r...,NaN,90,15.0,Northeastern Italy,Alto Adige,NaN,Pinot Grigio,Alois Lageder

In [12]:
# 5. Crear una variable 'animals' con un df de animales
# Guardar el anterior df en un archivo csv con el nombre 'cows_and_goats.csv'
animals = pd.DataFrame({'Cows': [12, 20], 'Goats': [22, 19]}, index=['Year 1', 'Year 2'])
animals.to_csv('./data/cows_and_goats.csv')
animals

        Cows  Goats
Year 1    12     22
Year 2    20     19